/******chosen hotel component*****/
* {
  font-size: 105%;
}
.main-container {
  position: relative;
  top: 13rem;
  display: flex;
  gap: 5rem;
}
.info-details-container {
  display: grid;
}
.review-container {
  border-bottom: 1px solid #a2dada;
  margin: 0;
  padding: 0;
}

.p-name-locat {
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  /* justify-content: space-evenly; */
  margin-top: 10rem;
}
@media (max-width: 768px) {
  .main-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  .info-details-container {
    display: flex;
    gap: 25rem;
  }
}
